    #minutes {
        font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    }

    #minutes .col{
        padding: 0px;
    }

    #minutes input{
        position: absolute;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden; 
        top: 0px;
    } 
 
    #minutes label {
        // float: left;
        display: inline-block;
        // overflow:auto; 
        width: 100%;
        background-color: white;
        color: #488aff;
        font-size: 1.3rem;
        font-weight: normal;
        text-align: center;
        text-shadow: none;
        padding: 6px 6px;
        border: 1px solid #488aff;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition:    all 0.1s ease-in-out;
        -ms-transition:     all 0.1s ease-in-out;
        -o-transition:      all 0.1s ease-in-out;
        transition:         all 0.1s ease-in-out;
 
    } 

    #minutes label:hover { 
        cursor: pointer;
    } 

    #minutes label + input:checked {
        background-color: #488aff;
        -webkit-box-shadow: none;
        box-shadow: none; 
        color: #fff; 
    } 

    #minutes input:checked + span {
            background-color: #488aff; 
            -webkit-box-shadow: none;
            box-shadow: none;
            color: #fff; 
    }

    #minutes input:checked + label  {
            background-color: #488aff; 
            -webkit-box-shadow: none;
            box-shadow: none;
            color: #fff; 
    }
 
    #minutes .col:first-of-type label {
        border-radius: 4px 0 0 4px;
    }

    #minutes .col:last-of-type label {
        border-radius: 0 4px 4px 0;
    }
 
    #minutes .col:not(:first-of-type) label {
        border-left-width: 0;
    }   
