<ion-header>
    <ion-navbar color="primary">
        <button menuToggle ion-button icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Kids Coaching - Timers</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="has-header">
	<ion-grid>
		<ion-row align-self-center>
			<ion-col *ngFor="let timer of timers" col-12 col-sm-8 col-md-8 col-lg-6 col-xl-4>
				<timer-list-card
					[timer]="timer"
					(settingClicked)="settingClicked(timer, $event)"
					(rewardClicked)="rewardClicked(timer, $event)"
					(penaltyClicked)="penaltyClicked(timer, $event)"
					(clicked)="timerClicked(timer)"
					>
				</timer-list-card>
			</ion-col>
			</ion-row>
	</ion-grid>
    <ion-fab bottom right>
        <button ion-fab (click)="addNewTimer()">
			<ion-icon name="add"></ion-icon>
		</button>
    </ion-fab>
</ion-content>