days-selector {

    .grid {
        font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    }
    .grid .col {
        padding: 0px;
    }

    .grid .row .col input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }

    .grid .row .col label {
        float: left;
    }


    .grid .row .col label{
        width: 100%;
        display: inline-block;
        background-color: white;
        color: #488aff;
        font-size: 1.3rem;
        font-weight: normal;
        text-align: center;
        text-shadow: none;
        padding: 6px 6px;
        border: 1px solid #488aff;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition:    all 0.1s ease-in-out;
        -ms-transition:     all 0.1s ease-in-out;
        -o-transition:      all 0.1s ease-in-out;
        transition:         all 0.1s ease-in-out;
    }

    .grid .row .col label:hover {
        cursor: pointer;
    }

    .grid .row .col input:checked + label {
        background-color: #488aff;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff; 
    }

    .grid .row .col:first-of-type label {
        border-radius: 4px 0 0 4px;
    }

    .grid .row .col:last-of-type label {
        border-radius: 0 4px 4px 0;
    }
 
    .grid .row .col:not(:first-of-type) label {
        border-left-width: 0;
    }

}
